
#about-us {
  padding: 178px 20px 48px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-part1 {
  padding: 0 0 48px 0;
}

.about-image {
  width: 334px;
  height: 352.32px;
  border-radius: 24px;
}

.about-image img {
  width: 100%;
  height: 100%;
   border-radius: 24px;
}

.about-part1 .about-image {
  margin-bottom: 40px;
}
.about-part2 {
  padding: 48px 0 0 0;
}

.about-part2 .about-text {
  text-align: center;
}

.about-part3 {
  padding: 56px 0 48px 0;
}

.about-part1 {
  width: 335px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-title {
  color: #030712;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -0.92px;
  margin: 0 0 23.2px 0;
}

.about-our-vision {
  text-align: center;
}
.about-text {
  color:#374151;
  font-size: 17.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.348px;
  margin: 0;
}
.about-part3 .about-text {
  margin: 0 0 40px 0;
}

@media screen and (min-width: 768px) {
  #about-us {
    padding: 196px 30px 72px 30px;
  }

  .about-part1 {
    width: 708px;
  }
  
  .about-image {
    width: 708px;
    height: 600px;
  }

  .about-title {
    font-size: 54.6px;
    line-height: 54.6px;
    letter-spacing: -1.092px;
    margin: 0 0 25.2px 0;
  }

  .about-text {
    font-size: 18.9px;
    line-height: 28.35px;
    letter-spacing: 0.378px;
  }
  .about-part1 {
    padding: 0 0 72px 0;
  }
}

@media screen and (min-width: 1440px) {
  #about-us {
    padding: 197.79px 60px 86.4px 60px;
  }

  .about-part1 {
    flex-direction: row;
  }

  .about-part1 {
    width: 1320px;
  }
  .about-image {
    width: 568.8px;
    height: 600px;
  }

  .about-part1 .about-image{
    margin: 0 67.2px 0 0;
  }
  .about-part1 .about-text-container {
    width: 684px;
    margin-top: 71.6px;
  }

  .about-part1 .about-title {
    font-size: 86.4px;
    line-height: 86.4px;
    letter-spacing: -1.728px;
  }

  .about-title {
    margin: 0 0 28.8px 0;
  }

  .about-text {
  font-size: 21.6px;
  line-height: 32.4px;
  letter-spacing: 0.432px;
  }

  .about-part1 {
    padding: 0 0 86.4px 0;
  }
}

