#applications {
  padding: 162px 20px 48px 20px;
}

.applications-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 32px 0;
}

.applications-title {
  color: #141522;
  font-size: 32.867px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.727px;
  letter-spacing: -0.657px;
  margin: 0 0 11.6px 0;
}

.applications-sub-header {
  color: rgba(0, 0, 0, 0.40);
  font-size: 15.467px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.2px;
  letter-spacing: -0.309px;
  margin: 0 0 23.2px 0;
}

.applications-grid {
  display: grid;
  gap: 15.47px;
  grid-template-columns: repeat(auto-fit, 335px);
  justify-content: center;
  align-items: start;
}

.homeApp {
  padding: 11.6px 11.6px 15.47px 11.6px;
  border: 0.967px solid #F5F5F5;
  background: #FCFCFC;
  border-radius: 15.467px;
  cursor: pointer;
}

.homeApp-image-div {
  width: 311.8px;
  height: 255.2px;
  margin: 0 0 15.47px 0;
}

.homeApp-image-div img {
  width: 100%;
  height: 100%;
  border-radius: 7.733px;
}

.homeApp-gitHub-div {
  margin: 0 0 15.47px 0;
  gap: 7.73px;
  display: flex;
  cursor: pointer;
}

.homeApp-gitHub-div img {
  width: 26.1px;
}

.homeApp-gitHub-div a {
  color: #5C6BC0;
  font-size: 15.1px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.1px;
  letter-spacing: -0.348px;
}

.homeApp-app-title {
  color: #141522;
  font-size: 21.267px;
  line-height: 31.9px;
  letter-spacing: -0.425px;
  margin: 0 0 11.6px 0;
  font-style: normal;
font-weight: 700;
}

.homeApp-app-description {
  color: #141522;
  font-size: 15.1px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: -0.348px;
  margin: 0 0 15.47px 0;
}

.homeApp-app-tech-stack {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 11.6px;
}

.homeApp-app-tech-stack li {
  padding: 5.8px 11.6px;
  color: #5541D7;
  background: rgba(85, 65, 215, 0.15);
  border-radius: 15.467px;
  font-size: 13.533px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.3px;
}

.collapse-tech {
  color: #888 !important;
}

.applications-load-more-div {
  width: 100%;
  text-align: center;
  margin: 46.4px 0 0 0;
}

.applications-load-more {
  border-radius: 9.667px;
  background: #5541D7;
  padding: 11.6px 23.2px;
  color: #FFF;
  font-size: 13.533px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.3px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #applications {
    padding: 172.19px 30px 30px 30px;
  }

  .applications-title {
    font-size: 35.7px;
    line-height: 46.41px;
    letter-spacing: -0.714px;
    margin: 0 0 12.6px 0;
  }

  .applications-sub-header {
    font-size: 16.8px;
    line-height: 25.2px;
    letter-spacing: -0.336px;
    margin: 0 0 25.2px 0;
  }
  .applications-title-div {
    margin: 0 0 48px 0;
  }

  .applications-grid {
    gap: 16.8px;
    grid-template-columns: repeat(auto-fit, 345.5px);
  }

  .homeApp {
    padding: 12.6px 12.6px 16.8px 12.6px;
    border: 1.05px solid #F5F5F5;
    border-radius: 16.8px;
  }

  .homeApp-image-div {
    width: 320.3px;
    height: 220px;
    margin: 0 0 16.8px 0;
  }

  .homeApp-image-div img {
    border-radius: 8.4px;
  }

  .homeApp-gitHub-div {
    margin: 0 0 16.8px 0;
    gap: 8.4px;
  }

  .homeApp-gitHub-div img {
    width: 28.35px;
  }

  .homeApp-gitHub-div a {
    font-size: 15.54px;
    line-height: 28.35px;
    letter-spacing: -0.378px;
  }

  .homeApp-app-title {
    font-size: 23.1px;
    line-height: 34.65px;
    letter-spacing: -0.462px;
    margin: 0 0 12.6px 0;
  }

  .homeApp-app-description {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.36px;
    margin: 0 0 16.8px 0;
  }

  .homeApp-app-tech-stack {
    gap: 12.6px;
  }

  .homeApp-app-tech-stack li {
    padding: 6.3px 12.6px;
    border-radius: 16.8px;
    font-size: 14.7px;
    line-height: 22.05px;
  }

  .applications-load-more-div {
    margin: 50.4px 0 0 0;
  }

  .applications-load-more {
    border-radius: 10.5px;
    padding: 12.6px 25.2px;
    font-size: 13.533px;
    line-height: 22.05px;
  }
}
@media screen and (min-width: 1440px) {
  #applications {
    padding: 168.99px 60px 60px 60px;
  }

  .applications-title {
    font-size: 40.8px;
    line-height: 53.04px;
    letter-spacing: -0.816px;
    margin: 0 0 14.4px 0;
  }

  .applications-sub-header {
    font-size: 19.2px;
    line-height: 28.8px;
    letter-spacing: -0.384px;
    margin: 0 0 28.8px 0;
  }
  
  .applications-title-div {
    margin: 0 0 57.6px 0;
  }

  .applications-grid {
    gap: 19.2px;
    grid-template-columns: repeat(auto-fit, 427.2px);
  }

  .homeApp {
    padding: 14.4px 14.4px 19.2px 14.4px;
    border: 1.2px solid #F5F5F5;
    border-radius: 19.2px;
  }

  .homeApp-image-div {
    width: 398.4px;
    height: 316.8px;
    margin: 0 0 19.2px 0;
  }

  .homeApp-image-div img {
    border-radius: 9.6px;
  }

  .homeApp-gitHub-div {
    margin: 0 0 19.2px 0;
    gap: 9.6px;
  }

  .homeApp-gitHub-div img {
    width: 32.4px;
  }

  .homeApp-gitHub-div a {
    font-size: 19.4px;
    line-height: 32.4px;
    letter-spacing: -0.432px;
  }

  .homeApp-app-title {
    font-size: 26.4px;
    line-height: 39.6px;
    letter-spacing: -0.528px;
    margin: 0 0 14.4px 0;
  }

  .homeApp-app-description {
    font-size: 21.5px;
    line-height: 32.4px;
    letter-spacing: -0.432px;
    margin: 0 0 19.2px 0;
  }

  .homeApp-app-tech-stack {
    gap: 14.4px;
  }

  .homeApp-app-tech-stack li {
    padding: 7.2px 14.4px;
    border-radius: 19.2px;
    font-size: 16.8px;
    line-height: 25.2px;
  }

  .applications-load-more-div {
    margin: 57.6px 0 0 0;
  }

  .applications-load-more {
    border-radius: 12px;
    padding: 14.4px 28.8px;
    font-size: 16.8px;
    line-height: 25.2px;
  }
}